---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0c071a !default;
$header-bg-color-secondary: #98c3d9 !default;

// Text
$section-headings-color: #5100cf !default;
$body-text-color: #3a4245 !default;
$body-link-color: #0093ff !default;
$blockquote-text-color: #292631 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.page-header {
    background-color: #000000AA !important;
    background-image: none !important;
}

.page-header-image {
    background-image: url("../images/UtmostsIconExpanded2048.png");
    background-size: cover;
    background-position: center;
}

@import "{{ site.theme }}";

.project-name {
    text-shadow: 2px 2px 5px black;
}

.project-tagline {
    text-shadow: 2px 2px 5px black;
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.main-content h1 {
    font-size: 2.75em;
    font-weight: bold;
}
.main-content h2 {
    font-size: 2.00em;
    font-weight: bold;
}
.main-content h3 {
    font-size: 1.75em;
}

.site-footer {
    background-color: #222222;
    padding-top: 0px !important;
}

.site-footer-wrapper {
display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 42em) {
    .site-footer-wrapper {
        padding: 2rem 1rem;
        font-size: 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer-wrapper {
        padding: 2rem 4rem;
        font-size: 1.1rem
    }
}

@media screen and (min-width: 64em) {
    .site-footer-wrapper {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem
    }
}

.site-footer-privacy {
    color: #999999;
}

.site-footer-support {
    color: #999999;
}

.site-footer-copyright {
    color: #999999;
}
